<h1>{{picName}}</h1>
<div class="post-details row justify-content-end">
    <div class="col-md-7">
        <figure>
            <img src="{{picPath}}" alt="{{picName}}">
        </figure>
    </div>
    <div class="col-md-5">
        <h6>created by: {{creatorId.username}}</h6>
        <p>{{content}}</p>
    </div>
    <div class="col-3">
        <a href="/" class="btn btn-dark">Go back</a>
    </div>
</div>