<h1>Posts</h1>
<a href="/posts/new">Post something</a>
<a href="/">Home</a>
<a href="/profile">Profile</a>
<section class="posts-section">
{{#each posts}}
<div class="post">
  <p>{{this.content}}</p>
  <a href="/posts/detail/{{this._id}}"><img width="300" src="{{this.picPath}}" alt="pic"></a>
  <p>
    <span>By {{this.creatorId.username}} </span>
    <a href="/posts/detail/{{this._id}}">Comment</a>
  </p>
</div>
{{/each}}
</section>