<% if (posts.length === 0) { %>

  <h2> You don't have any posts yet </h2>


<% } else { %>

  <h2> Posts </h2>

  <% if (successMessage.length > 0) { %>
    <div class="success"> <%= successMessage %> </div>
  <% } %>

    <% posts.forEach((onePost) => { %>
      <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <img src="<%= onePost.picPath %>" alt="Lights" style="width:100%">
              <div class="caption">
                <p><%= onePost.content %> </p>
                <p> <%= onePost.picName %> </p>
                <a href="/posts/<%= onePost._id %>">
                  View details
                </a>
                <form method="post" action="/posts/<%= onePost._id %>/delete">
                  <button> Delete </button>
              </div>
          </div>

          </form>
        </div>
    <% }) %>
<% } %>
