<div>
  <h2>{{creatorName}}'s post:</h2>
  <h3>{{content}}</h3>
  <img src="{{picPath}}">
</div>
{{!-- <form action="/posts/comments" method="post" enctype="multipart/form-data">
  <input type="text" name="comment" id="comment" placeholder="Your comment here">
  <input type="file" name="commentImage" id="commentImage">
  <input type="hidden" name="postID" value={{_id}}>
  <button type="submit">Comment</button>
</form> --}}
{{!-- <div id="comment-section">
  {{#each}}
  <h3>{{authorName}}</h3>
  <p>{{content}}</p>
  {{#if imagePath}}
    <img src={{imagePath}} alt="no picture!">
  {{/if}}
  {{/each}}
</div>  COMENTEI PORQUE AINDA NAO FUNCIONA --}}