<h1>Super posts</h1>
<a href="/">Volver a inicio</a>
<br><br>

{{#if user}}
    <a href="/posts/add">Añadir post</a>

{{/if}}
<br><br><br>

{{#if user}}
{{#each posts}}
    <p>{{this.content}}</p>
    <img src="{{this.imgPath}}" alt="Post-image">
    <a href="/posts/comment?post_id={{this._id}}">Comentar</a>
    {{#each this.comment}}
    <h3>COMENTARIO: {{content}}</h3>
    <img src="{{imgPath}}" alt="Comentario">
    {{/each}}
{{/each}}
{{else}}

    {{#each posts}}
    <p>{{this.content}}</p>
    <img src="{{this.imgPath}}" alt="Post-image">
    
{{/each}}
{{/if}}
    

<br><br><br>
