<h2> Posts </h2>


    <% posts.forEach((onePost) => { %>
      <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <img src="<%= onePost.picPath %>" alt="<%= onePost.picName %>" style="width:100%">
              <div class="caption">
                <p>Name: <%= onePost.content %> </p>
                <p>Description: <%= onePost.picName %> </p>
                <a href="/posts/<%= onePost._id %>">
                  View details
                </a>
              </div>
            </div>
        </div>
    <% }) %>
