<div class="container"></div>
<div class="row">
  <div class="col-md-6">
    {{#with post}}
    <img src="{{picPath}}" alt="{{picName}}">
  </div>
   <div class="col-md-6">
     <h2>Post comments:</h2>
    {{#each comments}}
    <div class="col-md-6">
    <img class="img-comment" src="{{imagePath}}" alt="{{content}}">

    </div>
    {{/each}}
  </div>
</div>

 {{/with}}

{{#if isLogged}}

  <div class="row">
    {{ message }}
    <div class="col-sm-6 centered-form">
      <h1>Comment now</h1>
      <form action="/posts/{{post._id}}/comment" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="content">Content:</label>
          <input type="text" name="content" class="form-control">
        </div>
         <div class="form-group">
          <label for="pic">Pic:</label>
          <input type="file" name="pic" class="form-control">
        </div>


        <button type="submit">Post now!</button>
      </form>
    </div>
  </div>
</div>

<a href="/posts/new">New post</a>

{{/if}}