<p><a href="/">Home</a>|<a href="/signup">signup</a>|<a href="/login">login</a>|<a href="/logout">logout</a>|</p>

 <div>
    <h1>Welcome to IronTumblr {{myInfo.username}}</h1>
    <img src="{{myInfo.path}}" alt="">
  </div>
  
<h2>Pagina del post</h2>

<h3>{{content}}</h3>
<h3>{{creatorId}}</h3>
<h3>{{picPath}}</h3>
<h3>{{picName}}</h3>