<h1>Post</h1>
<label for="content">Content:</label>
<p>{{postDetail.content}}</p>

<img src="{{postDetail.picPath}}" alt="{{postDetail.picName}}">

<label for="picName">Picture Name</label>
<h3>{{postDetail.picName}}</h3>

<label for="creator">Creator</label>
<span>{{postDetail.user.username}}</span>