<h2><a href="/post/show/<%= post.id %>"><%= post.title %></a></h2>
<p><a href="/post/show/<%= post.id %>"><img src="<%= post.picPath %>" class="img-responsive"></a></p>
<div>
  <%= post.content %>
</div>
