<h1>{{postDetail.title}}</h1>
<section class="postdetail">
  <div>
    <img src="{{ postDetail.picture.picPath }}" alt="{{ user.picture.originalNamePict }}"
      style="border: 1px solid #ddd;  border-radius: 4px;  padding: 5px;  width: 150px; margin-right:20px;" />
  </div>
  <div>
    <p>{{postDetail.content}}</p>
  </div>

</section>
<h4>(by {{postDetail.author.username}})</h4>