<div class="container">
  <div class="row">
    {{ message }}
    <div class="col-sm-6 centered-form">
      <form action="/edit/{{_id}}" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="content">Your Message</label>
          <input type="text" name="content" class="form-control" value="{{content}}">
        </div>
        <div class="form-group">
          <input type="hidden" name="id" value="{{id}}">
        </div>
        <div class="form-group">
          <label for="picture">Picture</label>
          <input type="text" name="picname" class="form-control" value="{{picname}}">
          <input type="file" name="picpath" class="form-control" value="{{picpath}}">
        </div>
        <button type="submit">Submit</button>
      </form>
      <a href="/delete/{{_id}}">DELETE</a>
      </div>
  </div>
</div>