
{{#if user}}
<h1 class="white">Dashboard of {{user.username}}</h1>

<p><a class="white-link" href="/post/new">Post something yourself!</a></p>

{{else}}

<h1 class="white">See all the Posts</h1>


{{/if}}

<div class="content">
{{#each posts}}
<div class="card">
<h3><a href="/post/show/{{this._id}}">{{this.picName}}</a></h3>
<h4><i>created by <a href="/profile/{{this.creatorName}}"class="creator">{{this.creatorName}}</a></i></h4>
<img src="{{this.picPath}}" width="400px">
<p>{{this.content}}</p>
</div>
{{/each}}
</div>
