<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">IronTumblr</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </nav>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Explore awesome posts!</h1>
    <p class="lead">Great people sharing awesome things</p>
  </div>
</div>

<div class="flex">
{{#each posts}}
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{picPath}}" alt="{{picName}}" width="150px">
  <div class="card-body">
    <h5 class="card-title">{{content}}</h5>
    <p class="card-text">Posted by {{creatorId}}</p>
    <a href="/post/comment/{{_id}}" class="btn btn-primary">Comment this post</a>
  </div>
</div>
{{/each}}
</div>

<div class="center"><a href="/post/new" class="btn btn-warning">Wanna create another post?</a>
</div>

