<h1>SHOW POST</h1>


<div class="postPage">
    <div class="postMain">
        <img src="{{post.picPath}}" alt="Post Image">
        <h3>Posted By: {{post.creatorId.username}}</h3>
        <h4>{{post.content}}</h4>
    </div>
    <h3>COMMENTS:</h3>
    <div class="new-comment">
        <form action="/post/new/{{post._id}}?redirect=/post/{{post._id}}" method="post" enctype="multipart/form-data">
            <label for="">Leave your comment:</label>
            <input type="text" name="texto" class="form-control">
            <label for="photo">Photo</label>
            <input type="file" name="photo">
            <button class="btn btn-primary" type="submit">Send</button>
        </form>
    </div>


    <div class="comments">
        {{#each post}}
        {{#each this.comments}}
        <div class="comment">
            {{#if this.imagePath}}
            <img class="comment-image" src="{{this.imagePath}}" alt="Photo"/>
            {{/if}}
            <h4 class="comment-author">Author: {{this.authorId.username}}</h4>
            <h4 class="comment-content">{{this.content}}</h4>
        </div>
        {{/each}}
        {{/each}}
    </div>
    <button class="btn btn-danger">
    <a href="/post">BACK TO LIST</a>
    </button>

</div>
