<div class="content">
<div class="card">
<h1>{{post.picName}}</h1>
<h2><i>created by {{post.creatorName}}</i></h2>
<img src="{{post.picPath}}" width="400px">
<p>{{post.content}}</p>
</div>
</div>

<div class="card">
{{#if user}}
<div class="col-sm-6 centered-form">
      <form action="/post/show/{{post._id}}/comment/new" method="post" encType="multipart/form-data">
        <div class="form-group">
          <label for="content">Text</label>
          <input type="text" name="content" class="form-control">
        </div>
        <div class="form-group">
          <label for="picName">Picture Name</label>
          <input type="text" name="picName" class="form-control">
        </div>
        <div class="form-group">
          <label for="picture">Picture</label>
          <input type="file" name="picture" class="form-control" placeholder="No file selected">
        </div>
        <button type="submit">Post!</button>
      </form>
    </div>
</div>

{{else}}
<h3 class="comments">You need to be signed in to comment!</h3>
{{/if}}
<h2 class="white">Comments</h2>
<div class="card">
{{#each post.comments}}
<div class="content cont-comm">
<p>{{this.content}}</p>
{{#if this.picPath}}
<img src="{{this.picPath}}" width="400px">
{{/if}}
{{#if this.picName}}
<h4>{{this.picName}}</h4>
{{/if}}
<h5><i>created by {{this.creatorName}}</i></h3>
</div>
{{/each}}
</div>
