<h3>Autor: <%= creator %></h3>
<p><%= content %></p>
<img src="<%= picPath %>" alt="<%= picName %>" >
<br>
<a href="/comment/create/<%= _id %>">Create a comment</a>
<br>
<a href="/comment/post/<%= _id %>">View comments</a>
