<h3>Soy un comentario {{ this.name }} {{this._id}}</h3>
    <img src="{{ this.path }}" alt="{{ this.originalName }}" />
    <form action="/coment/{{this._id}}/delete" method="post">
    <button>Delete coment {{this._id}}</button>
  </form> 