<div class="col-xs-12">
	<div class="post-card">
		<figure>
			<div class="post-card-pic">
				<img src="{{picPath}}" alt="{{picName}}">		
			</div>
			<figcaption>
				<h4>Author: {{creatorId.username}}</h4>
				<p class="post-card-text">{{content}}</p>
				<div>
					<a href="/posts/{{_id}}">View post</a>
				</div>
			</figcaption>
		</figure>	
	</div>
</div>