  
    <h3>{{ this.name }}</h3>
    <img src="{{ this.path }}" alt="{{ this.originalName }}" />

    <form action="/post/{{this._id}}/delete" method="post">
    <button>Delete post {{this._id}}</button>
  </form> 

    
<form action="/photo/{{_id}}/edit" method="post">
  <label for="name">Name: </label>
  <input type="text" name="name" id="name" value="{{name}}">
  <label for="occupation">Occupation: </label>
  <input type="text" name="occupation" id="occupation" value="{{occupation}}">
  <label for="catchPhrase">Catch phrase: </label>
  <input type="text" name="catchPhrase" id="catchPhrase" value="{{catchPhrase}}">
  <button type="submit">Send</button>
</form>

  <h2>Comment photo</h2>
  <form action="/coment" method="post" enctype="multipart/form-data" id="{{ this._id }}">
    <input type="hidden" value="{{ this._id }}" name="id">
    <input type="text" name="name">
    <input type="file" name="photo">
    <input type="submit" value="Save">
  </form>
 <div>
     {{#each this.comments}}
    {{>coment this}}
    {{/each}}
 </div>