<div id="post-list-container" >

    <h3>Welcome Ironhacker! </h3>
    <br>
    <a id="create-your-post" href="/post-form" class="create-post-btn">Create your post</a>
    <br><br>
    {{#if posts}}
        {{#each posts as |post|}}
            <div class="row post-card">
                <div class="post-card-author col-3">
                    <div class="home-image-container">
                        <img class="post-card-author-img" src="{{post.creatorId.image}}" alt="">
                    </div>
                    <h3>{{post.creatorId.username}}</h3>
                </div>
                <div class="col-8">
                    {{#if post.picPath}}
                        <img class="post-card-post-img" src="{{post.picPath}}" alt="">
                        <p class="pic-name">{{picName}}</p>
                        <div class="card-text">{{post.content}}</div>
                    {{/if}}
                        <div class="comments-length">{{post.comments.length}} comments</div> 
                        <a class="view-post" href="/post/{{post._id}}">View post</a>
                    </div>
                </div>
        {{/each}}
    {{/if}}

</div>
