<h1>Welcome Ironhacker!</h1>
{{#each allPosts}}
  <div class="card">
    <img src="{{picPath}}" alt="{{picName}}">
    <br><br>
    <a href="/posts/{{_id}}"><b>{{picName}}</b></a>
    <p>{{content}}</p>
    <small>{{creatorId.username}}</small>
  </div>
{{/each}}
<a href="/posts/new">Create a New Post</a>