<h2>{{title}}</h2>
<br>
<h4>{{user.username}}</h4>
<div class="btn-group" role="group">
  {{#if user}}
  <a class="btn btn-primary" href="/new"> New post</a>
  <a class="btn btn-info" href="/profile"> Profile</a>
  <a class="btn btn-danger" href="/logout">LogOut</a>
  {{else}}
  <a class="btn btn-info" href="/login">LogIn</a>
  <a class="btn btn-primary" href="/signup">SignIn</a>
  {{/if}}
</div>
<br><br>
<div class="card-columns">
  {{#each posts as |post|}}
  <div class="card">
    <img class="card-img-top" src="{{picPath}}" alt="{{picName}}">
    <div class="card-body">
      <h4 class="card-title">{{picName}}</h4>
      <p class="card-text">{{content}}</p>
      <br>
      <a href="/show/{{_id}}" type="button" class="btn btn-success">Show</a>
      <a href="/edit/{{_id}}" type="button" class="btn btn-warning">Edit</a>
    </div>
  </div>
  {{/each}}
</div>