<div id="post-list-container" >

    <h3>Welcome Ironhacker! </h3>
    <br>
    <a href="/post-form" class="create-post-btn">Create your post</a>
    <br><br>
    {{#if posts}}
        {{#each posts as |post|}}
            <div class="row post-card">
                <div class="post-card-author col-3">
                    <img class="post-card-author-img" src="{{post.creatorId.image}}" alt="">
                    <h3>{{post.creatorId.username}}</h3>
                </div>
                <div class="col-8">
                    <div class="card-text">{{post.content}}</div>
                    {{#if post.picPath}}
                        <img class="post-card-post-img" src="{{post.picPath}}" alt="">
                        <p>{{picName}}</p>
                    {{/if}}
                </div>
            </div>
        {{/each}}
    {{/if}}

</div>
