<h1>{{title}}</h1>
<p>Welcome Ironhacker!</p>

<div class="all-posts">
    {{#each posts}}
    <div class="single-post">
        <h2>{{picName}}</h2>
        <hr>
        <img src="{{picPath}}" alt="Image: {{picName}}">
        <a href="/posts/{{_id}}">See details</a>
    </div>
    {{/each}}