<div class="container">
  <div class="row post">
    <div class="post-cover" style="background: url('{{pic}}') no-repeat top center;"></div>
    <h2 class="cover-title">{{picName}}</h2>
    <p>Autor: {{creatorId.username}}</p>
    <p>{{content}}</p>
    {{#if user}}
      <h3 class="col-sm-12">Agregar Comentario</h3>
      <form action="/comment/{{_id}}" class="col-sm-6" method="POST">
        <div class="form-group">
          <input type="text" name="content" class="form-control" placeholder="Escribe aqui tu comentario...">
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block">Comentar</button>
      </form>
      <h3 class="col-sm-12">Comentarios</h3>
    
   {{else}}
     <p><a href="/login">Login</a> para comentar y ver comentarios</p>
   {{/if}}
  </div>
</div>