<div class="post post-detail">
  <h2>{{creatorId.username}}</h2>
  <h3>{{content}}</h3>
  <img src="{{picPath}}" alt="" class="img-post">
  <p>{{picName}}</p>
  <h4>Comments:</h4>
  {{#each comments as |com|}}
  <div class="comments">
    <div>
      <b>{{com.authorId.username}}</b>
    </div>
    <div>
      <img src="{{com.imagePath}}" alt="" class="img-comment">
      <p>{{com.imageName}}</p>
    </div>
    <div>
      {{com.content}}
    </div>
  </div>
  {{/each}}
</div>