<h1>Posts</h1>
<hr>
<div class="row">
  {{#each post}}
    <div class="col-md-4 mb-5">
      <div class="card" style="width: 18rem;">
        <img src="{{imageUrl}}" class="card-img-top" alt="{{title}}">
        <div class="card-body">
          <h5 class="card-title">{{title}}</h5>
          <p class="card-text">{{description}}</p>
          <a href="/posts/{{id}}/edit" class="btn btn-primary">Edit</a>
          <p class="card-text">by {{username}}</p>
        </div>
      </div>
    </div>
  {{else}}
    <p>There are no posts yet!</p>
  {{/each}}
  <hr />
</div>

<button><a href="/views/index.hbs">HOME</a></button>