<div class="post">
  <h3>{{creatorId.username}}</h3>
  <p>{{content}}</p>
  <img src="{{picPath}}" alt="">
  <p>{{picName}}</p>
  <h4>Comments:</h4>
  {{#each comments as |com|}}
  <div>
    {{com.authorId.username}}
  </div>
  <div>
    {{com.content}}
  </div>
  {{/each}}
</div>
