<a href="/profile">Go back</a>

<div>
    <div>
        <img class="post-image" src="{{picPath}}" alt="{{picName}}">
        <p>{{content}}</p>
        <div> 
            <span>Creator: <a href="/profile-details?user_id={{userId}}">{{username}}</a></span>
            <img src="{{userImg}}" alt="username">
        </div>
        <p>
            <a href="/post-details/comments?post_id={{postId}}">Comments</a> 
        </p>

        {{#if message}}
        <div class="error-message">{{ message }}</div>
        {{/if}}

        <form action="/post-details?post_id={{postId}}" method="post">
            <textarea name="comment" id="" cols="30" rows="3"></textarea>
            <button>Save</button>
        </form>
    </div>
</div>