<div>
    {{#if message}}
    <br>
    <h2>{{message}}</h2>
    {{else}}
    <br>
    <h2>Comments: </h2>
    {{#each allComments}}
    <p> <a href="/profile-details?user_id={{this.authorId}}">{{this.username}}</a>: {{this.content}}</p>
    {{/each}}
    {{/if}}
</div>