<div>
    <h2>Profile update</h2>
    <div>
        {{!-- {{ message }} --}}
        <div>

            <div class="error-message">{{ message }}</div>
            <div class="success-message">{{ success }}</div>

            <form action="/profile/update" method="post">
                <div>
                    <label for="username">Username</label>
                    <input type="text" name="username" value="{{username}}">
                </div>

                <div >
                    <label for="firstName">First Name</label>
                    <input type="text" name="firstName" value="{{firstName}}">
                </div>

                <div >
                    <label for="lastName">Last Name</label>
                    <input type="text" name="lastName" value="{{lastName}}">
                </div>

                <div >
                    <label for="email">Email</label>
                    <input type="email" name="email" value="{{email}}">
                </div>

                <div >
                    <label for="password">Old password</label>
                    <input type="password" name="password" placeholder="**********">
                </div>

                <div >
                    <label for="password1">New password</label>
                    <input type="password" name="password1" placeholder="**********">
                </div>
                <div >
                    <label for="password2">Confirm new password</label>
                    <input type="password" name="password2" placeholder="**********">
                </div>

                <button type="submit">Save</button>
            </form>

        </div>
    </div>
</div>