<a href="/">Go back</a>
<h2>Post details</h2>
<img class="image-details" src="{{picPath}}" alt="{{picName}}">
<p>{{content}}</p>
<span>Creator: <a href="/profile-details?user_id={{userId}}">{{username}}</a></span>
<img class="users-small" src="{{userImg}}" alt="username">
<p><a href="/post-details/comments?post_id={{postId}}">Comments</a> </p>
{{#if message}}
<div class="error-message">{{ message }}</div>
{{/if}}
<form action="/post-details?post_id={{postId}}" method="post">
    <textarea name="comment" id="" cols="30" rows="3"></textarea>
    <button>Save</button>
</form>

{{!-- 
postId: _id,
        content,
        userId: creatorId._id,
        username: creatorId.username,
        userEmail: creatorId.email,
        userImg: creatorId.path, --}}