HOLA BIENVENIDO


<div class="row">
    {{#each allPictures}}

    <div class="col-md-3">
        <figure>
            <img src="{{path}}" alt="{{description}}">
            <figcaption>
                <h6>{{name}}</h6>
                <p>{{description}} | <a href="{{path}}" download="{{name}}">Descargar</a> | <a
                        href="/details/{{_id}}">Detalles</a></p>
            </figcaption>
        </figure>
    </div>

    {{/each}}
</div>
</div>