<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  {{>nav}}
  <h1>Welcome to IronTumblr</h1>

  <a href="/create">Create a new post !</a> <span>(You must be connected to write a comment)</span>

  {{#each post}}
  <div>
    <h2><a href="/show/{{this.id}}">{{this.content}}</a></h2>
    <img src="{{this.picPath}}" alt="{{this.picName}}">
    </ul>
  </div>
  {{/each}}
</body>

</html>