<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <nav>
    <h2>Welcome to IronTumblr</h2>

    <p><a href="/new" class="make-post">Make a new post</a></p>
  </nav>
  <section class="posts-container">

    <div class="card">    
{{#each posts}}

    <h2>{{this.picName}}</h2>
<img src="{{this.picPath}}" alt="{{this.content}}">
<p>{{this.content}}</p>

{{/each}}
</div>
  </section>
    
  </body>
</html>
