<!DOCTYPE html>
<html>

  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <img>
    <h1>Welcome to IronTumblr</h1>



    
    {{#each allPosts}}
      <p>{{content}}</p>
      <small>{{creatorId}}</small>
      <img src="{{picPath}}" alt="{{picName}}">
      {{/each}}



  </body>

</html>