<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to IronTumblr</h1>
    <a href="/signup">Signup</a>
    <a href="/login">Login</a>
    <div>
      {{#each posts}}
          <p>{{this.content}}</p>
          <img src="{{this.picPath}}" alt="">
          <p>{{this.comment.content}}</p>
          <a href="/createComment/{{this.id}}">Add comment</a>
      {{/each}}
    </div>
  </body>
</html>
