<a href="/login">Login</a>
<a href="/signup">Sign up</a>
<a href="/profile/{{user._id}}">Go to profile</a>
<h1>All posts</h1>
{{#unless posts}}
  <p>There are no posts</p>
{{/unless}}
{{#if posts}}
  {{#each posts}}
  <h2><a href="/profile/{{this.creatorId}}">{{this.picName}}</a></h2>
  <a href="/post/{{this._id}}"><img src="{{this.picPath}}" alt="{{this.picName}}"></a>
  <p>{{this.content}}</p>
  {{/each}}
{{/if}}