<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to IronTumblr</h1>
<!-- <h1>Welcome to IronTumblr <%= user.username %></h1> -->
  <!-- <% if(user) { %>
  <form action="/logout" method="POST">
    <button>Logout</button>
  </form>
<% }else{ %>
  <a href="/signup">Signup</a>
  <a href="/login">Login</a>
  <a href="/auth/facebook">Login CON FACEBOOK</a>
<% } %> -->
<!-- <section>
  <% pictures.forEach(function(picture) { %>
    <h3><%= picture.name %></h3>
    <img src="<%= picture.pic_path %>" alt="<%= picture.pic_name %>" />
  <% })%>
</section> -->
  </body>
</html>
