<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Welcome to Merry's IronTumblr</h1>


  <div class="row">
    {{#each posts as |post|}}
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="{{post.picPath}}" alt="{{post.picName}}">
          <span class="card-title">{{post.creatorId.username}}</span>
        </div>
        <div class="card-content">
          <p>{{post.content}}</p>
        </div>
        <div class="card-action">
          <a href="#">Comment</a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>



  {{!-- 
  <div class="post">
    {{#each posts as |post|}}
    <div class="wrapper-post">
      <h3>{{post.content}}</h3>
      <h4>{{post.creatorId.username}}</h4>
      <img src="{{post.picPath}}" alt="{{post.picName}}">
      <button><a href="">comment</a></button>

    </div>
    {{/each}}
  </div> --}}




</body>

</html>