<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Welcome to Merry's IronTumblr</h1>
  {{#each posts as |post|}}
  <h3>{{post.content}}</h3>
  <h4>{{post.creatorId.username}}</h4>
  <img src="{{post.picPath}}" alt="{{post.picName}}">
  {{/each}}
</body>

</html>