
<div class="greeting">
	<h2 class="greeting-title">Welcome to {{title}}</h2>
	{{#if user}}
		<div>
			<p> Hello, <span class="greeting-name">{{ user.username }}</span>! </p>
		</div>
	{{/if}}
</div>





<div class="posts-wrapper">
	{{#each posts}}
		<div class="post-item">
			<img src="{{this.picName}}" alt="">
			<p>{{this.content}}</p>
		</div>
	{{else}}
		<p>There are no posts yet! :(</p>
	{{/each}}
</div>