<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to IronTumblr</h1>

    {{#each posts}}
    <img src="{{picPath}}" alt="{{picName}}">
    <p>{{content}}</p>
    <p>By: {{creatorId.username}}<img src="{{creatorId.pic}}" height="50px"></p>
    <p><a href="/post/{{_id}}">See full post</a></p>
    {{/each}}
  </body>
</html>
