<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div class="column">
{{#each post}}
<div class="post">
<h4>{{this.creatorID}}</h4>
<p>{{this.content}}</p>
<img src="{{this.picPath}}" alt="" srcset="">

</div> 
{{/each}}
</div>

