<!DOCTYPE html>
<html>
  <head>

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <img src="<%= user.pic_path %>" alt="<%= user.userme %> Picture">
    <h1>Welcome <%= user.username %>!!!</h1>
    <a href="/show">My profile</a>
    <a href="/logout">logout</a>
    <br>
    <hr>
    <br>
    <h2>Posts</h2>

    <% posts.forEach(post =>{ %>
      <div class="container">
      <img src="<%= post.pic_path %>" alt="<%= post.picName%>">
      <p>TAG: <%= post.picName%></p>
      <h4>POST CONTENT: <%= post.content%></h4>
      <hr>
      </div>
    <%})%>
  </body>
</html>
