<h1>Trending Now</h1>
<br><br>
{{#each posts}}
<div>
  <img src="{{this.picPath}}" alt="{{this.picName}}">
  <span><Strong>{{this.picName}}</Strong> </span>
  <span>{{this.content}}</span>
  <a href="/show/{{this._id}}">Show</a>
</div>
{{/each}}