<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to IronTumblr</h1>
    {{#each users}}
    <p>{{username}} - {{email}} <a href="/profile/{{_id}}">Profile</a></p>
    <img src="{{picture.0.path}}" alt="">
    {{/each}}

    <a href="/posts"></a>
    <a href="/login">Log in</a>
    <a href="/signup">Sign up !</a>
    <a href="/logout">Logout</a>
  </body>
</html>
