<h1>Welcome to IronTumblr</h1>

{{#if user}}
<a href="/create">Create New Post</a>
{{/if}}


<form action="/login" method="POST">
  <label>Username</label><input type="text">
  <label>Password</label><input type="password">
  <input type="submit" value="Login">
</form>
<a href="/register">Sign Up</a>
<a href="/logout">Log Out</a>

{{#if user}}
<p>sei loggato</p>
<img src="{{user.imgSrc}}">
<h1>diocane toma tu foto</h1>
{{/if}}


<hr>
<br><br><br>
<h1>Here's what has happened so far...</h1>
<div>
  {{#each posts}}
  <div>
    <img src="{{this.picPath}}" alt="">
    <h4>{{this.content}}</h4>
    <p>{{this.contentText}}</p>
  </div>
  {{else}}
  <p>There are no movies yet! :(</p>
  {{/each}}
</div>