<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Welcome to IronTumblr</h1>

  <div class="row">

    {{#each posts}}

    <div class="col-sm-8">
          <hr>
      <p>Post created by: <a href="/profile/{{creatorId}}">User profile</a></p>
      <p>Content: {{content}}</p>
      <img src="{{picPath}}" alt="{{picName}}">
      <p><b>Comments: </b> Me falta aquí popular el campo del comentario, luego me lo miráis porfa. <br>
      Lo que muestro es la id del comentario</p>
      {{#each comments}}
      <p>{{this}}</p>
      {{/each}}

    </div>


    <div class="col-sm-4 centered-form">
      <br><br>
      <p><b>Create new comment: </b></p>
      <form action="/newComment/{{_id}}" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="content">Content</label>
          <input type="text" name="content" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="photoname">Picture name</label>
          <input type="text" name="photoname" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="photo">Picture</label>
          <input type="file" name="photo" class="form-control" required>
        </div>
        <button type="submit">Send comment</button>
      </form>
    </div>

    {{/each}}
  </div>
</body>

</html>