<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div>
    <h1>Welcome to IronTumblr {{myInfo.username}}</h1>
    <img src="{{myInfo.path}}" alt="">
  </div>
</body>

</html>


{{!-- <section>
  {{#each pictures}}
    <h3>{{ this.name }}</h3>
    <img src="{{ this.path }}" alt="{{ this.originalName }}" />
  {{/each}}
</section> --}}