<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  {{#if user}}
  <div id="log">
    <p>Welcome back {{user.username}}</p>
    <a href="/private/{{user._id}}">Private Area</a>
    <a href="/logout">Logout</a>
    <div>
       <form action="/post" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="content">Description</label>
          <input type="text" name="content" class="form-control">
        </div>
        <div class="form-group">
          <label>Add a Picture</label>
          <input type="file" name="photo">
        </div>
        <button type="submit">Post</button>
      </form>
    </div>
  </div>
  {{#each posts}}
    <div>
      <p>{{this.picName}}</p>
      <img src="{{this.picPath}}" alt="">
      <a href="/post/{{this._id}}">Show</a>
    </div>
    <div>
      {{#each this.comments}}
        <p>{{this.content}}</p>
        <img src="{{this.imagePath}}" alt="">
        <p>{{this.imageName}}</p>
      {{/each}}
    </div>
  {{/each}}
  {{else}}
  <div id="unlog">
    <p>Welcome to {{title}}</p>
    <a href="/signup">Sign Up</a>
    <a href="/login">Login</a>
  </div>
  {{#each posts}}
    <div>
      <p>{{this.picName}}</p>
      <img src="{{this.picPath}}" alt="">
      <a href="/post/{{this._id}}">Show</a>
    </div>
    <div>
      {{#each this.comments}}
        <p>{{this.content}}</p>
        <img src="{{this.imagePath}}" alt="">
        <p>{{this.imageName}}</p>
      {{/each}}
    </div>
  {{/each}}
  {{/if}}
  </body>
</html>
