<h1><%= welcome %></h1>

<div class="container">
<% posts.forEach(post => { %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="<%= post.picPath %>" alt="<%= post.picName %>">
      <div class="caption">
        <p><%= post.content %></p>
      </div>
      <div class="media">
        <div class="media-left">
          <img class="media-object" src="<%= post.creatorId.picture.pic_path %>" alt="<%= post.creatorId.picture.pic_name %>">
        </div>
        <div class="media-body">
          <p class="media-heading">by <b><%= post.creatorId.username %></b></p>
        </div>
      </div>
      <% if(user) { %>
        <p><a href="/comments/new/<%= post._id %>" class="btn btn-primary">Comment</a></p>
      <% } %>
      <div class="list-group">
      <% post.comments.forEach(comment => { %>
        <p class="list-group-item-heading"><b>Autor commentario</b></p>
        <p class="list-group-item-text"><%= comment.content %></p>
        <img class="media-object" src="<%= comment.picPath %>" alt="<%= comment.picName %>">
      </div>
      <% }) %>
      </div>
    </div>
  </div>
<% }) %>
</div>

<% if(user) { %>
<a href="/posts/new" class="btn btn-success">Create post</a>
<a href="/logout" class="btn btn-default">Log Out</a>
<% } else { %>
<a href="/signup" class="btn btn-primary">Sign up</a>
<a href="/login" class="btn btn-primary">Log in</a>
<% } %>
