<div class="container">
  <h1>Welcome to IronTumblr</h1>
  <div class="post-lists">
    {{#each posts}}
    <div class="post-item">
      <div>
        <h3><a href="/post/{{_id}}">{{title}}</a></h3>
        <small>{{author.username}}</small>
      </div>
      <div>
        <img src="{{featuredPicture.path}}" alt="{{featuredPicture.originalName}}">
      </div>
    </div>
    {{/each}}
  </div>
</div>