<section id="section-home">
<h1>Welcome to IronTumblr</h1>
<div class="div-cards">
  {{#each posts}}

<div class="card">
  <div class="card-content">
   <img src="{{picPath}}" alt="">
  </div>
  <footer class="card-footer">
      
        <a href="/posts/{{_id}}">View More</a>
      
    
  </footer>
</div>




    <div class="post-item">
      <img src="{{this.imgPath}}" alt="">
      <h4>{{this.title}}</h4>
      <p>{{this.description}}</p>
    </div>
  {{else}}
    <p>There are no post yet! Sign up and share the first one.</p>
  {{/each}}
</div>
  
</section>