<!DOCTYPE html>
<html>
  <head>
    <title class="index__title">{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>IronTumblr.</h1>
    <a href="/signup">SIGNUP</a>
    <a href="/login">LOGIN</a>
    <a href="/post">POST</a>
    <hr>
    {{#each algo as |post|}}
      <img class="post__img" src="{{post.picPath}}" width="400"/>
      <br>
      <p class="index__p">{{post.picName}}</p>
      <span class="index__span__user">User: {{post.creatorId}}</span>
      <span class="index__span__description">Description: {{post.content}}</span>
      <form action="/comment" method="GET">
      <br>
      <a class="index__comment" href="/comment">Comment</a>
      </form>
    {{/each}}
    <h2>Comments</h2>
    {{#each comments as |comment|}}
      <img src="{{comment.imagePath}}" width="200"/>
      <p>{{comment.imageName}}</p>
      <p>{{comment.authorId}}</p>
      <p>{{comment.content}}</p>
    {{/each}}
  </body>
</html>
