<!DOCTYPE html>
<html>

<head>
  <title>
    <%=title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Welcome to IronTumblr</h1>
  <br>

  <%if(typeof post !== 'undefined'){%>
    <%post.forEach((onePost)=>{%>

      <div class="box">
        <div class="col-xs-6 col-md-4">
          <p>Made By Creator Id:
            <%=onePost.creatorId%>
          </p>

          <a href="/<%=onePost._id%>/postpage">
            <%=onePost.picName%>
          </a>
          <br>

          <img src="<%=onePost.picPath%>">
        </div>
      </div>


      <br>
      <%});%>
        <%}%>

</body>

</html>
