<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  {{#each posts}}
  <div class="test">
    <div>{{this.creatorId}}</div>
    <div>{{this.content}}</div>
    <div><img src="{{this.picPath}}" height="150px"></div>
    <div>{{this.comments.content}}</div>
    <br>
    <button><a href="/{{this._id}}/newComment">Post a new comment</a></button>

  </div>

  {{/each}}

</body>


</body>

</html>