<div class="container-fluid content">
  <div class="container">
    <div class="row">
      <div class="col-12">

        <div class="row justify-content-center post">
          <div class="col-12 col-sm-7">
            <img src="{{post.picPath}}" alt="{{post.picName}}">
            <h1><strong>{{post.picName}}</strong></h1>
            <p class="post-content">{{post.content}}</p>
            <p class="author">posted by @{{post.creatorId.username}}</p>
          </div>
          <div class="col-12 col-sm-5">
            <h2><strong>Make a comment!</strong></h2>
            <form action="/comments/{{post.id}}" method="POST" enctype="multipart/form-data">
              <div class="form-group">
                <label for="content">Content</label>
                <textarea type="text" class="form-control" id="content" name="content" rows="5"></textarea>
              </div>
              <div class="form-group">
                <label for="imagePath">Upload image</label>
                <input type="file" class="form-control-file" id="imagePath" placeholder="Upload file" name="imagePath">
              </div>
              <div class="form-group">
                <label for="imageName">Image title</label>
                <input type="text" class="form-control" id="imageName" placeholder="File title" name="imageName">
              </div>
              <button type="submit" class="btn" id="{{user._id}}">Comment</button>
            </form>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-12">
            <h2><strong>Comments</strong></h2>
            {{#each post.comments as |comment|}}
            <div class="users-comments">
              {{#if comment.imagePath}}
              <img src="{{comment.imagePath}}" alt="{{comment.imageName}}">
              {{/if}}
              <div class="post-info">
                <h4><strong>{{comment.imageName}}</strong></h4>
                <p>{{comment.content}}</p>
                <p class="author">posted by @{{comment.authorId.username}}</p>
              </div>
            </div>
            {{/each}}
          </div>
        </div>

        <div class="row justify-content-center">
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="post post-detail">
  <h2>{{creatorId.username}}</h2>
  <h3>{{content}}</h3>
  <img src="{{picPath}}" alt="" class="img-post">
  <p>{{picName}}</p>
  <h4>Comments:</h4>
  {{#each comments as |com|}}
  <div class="comments">
    <div>
      <b>{{com.authorId.username}}</b>
    </div>
    <div>
      <img src="{{com.imagePath}}" alt="" class="img-comment">
      <p>{{com.imageName}}</p>
    </div>
    <div>
      {{com.content}}
    </div>
  </div>
  {{/each}}
</div>-->