
<div class="container detail">
  <h2>{{imagename}}</h2>
  <img src="{{imageURL}}" alt="{{imagename}}">
  <h2>{{content}}</h2>
  <h2>Posted by....{{owner.username}}</h2>

  <br>
 
 <h5><a href="/coment">Comment</a></h5>
 <h5><a href="/coments">View Comment</a></h5>

  <br>
  <br>
  <a href="/">Back</a>
</div>