<h1>details post</h1>
  <div>
    <div class="post-details">
      <h2>{{picName}}</h2>
      <a href="/edit/{{_id}}">Edit post</a>
      <br>
      <br>
      <img src="{{picPath}}" class="card-img-top" alt="{{picName}}">
      <div>
        <p>{{content}}</p>
      </div>
    </div>
  </div>