<div class="container-fluid content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                {{#if user}}
                <img class="user-avatar" src="{{user.avatar}}" alt="{{user.username}} image" width="100">
                <h1 class="text-center">Welcome, <strong>{{ user.username }}!</strong></h1>
                <p class="text-center">{{ user.email }}</p>
                {{else}}
                <p class="text-center">Still no logged in user, sorry!</p>
                {{/if}}

                <div class="row justify-content-center">
                    <div class="col-12 col-sm-5">
                        <form action="/userProfile/{{user._id}}" method="POST" enctype="multipart/form-data">
                            <h2><strong>Make a post!</strong></h2>
                            <div class="form-group">
                                <label for="content">Content</label>
                                <textarea type="text" class="form-control" id="content" name="content"
                                    rows="5"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="picPath">Upload file</label>
                                <input type="file" class="form-control-file" id="picPath" placeholder="Upload file"
                                    name="picPath">
                            </div>
                            <div class="form-group">
                                <label for="picName">File title</label>
                                <input type="text" class="form-control" id="picName" placeholder="File title"
                                    name="picName">
                            </div>
                            <button type="submit" class="btn" id="{{user._id}}">Create post</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>