{{#if user}}
    <h2>Welcome, {{ user.username }}!</h2>
    <img src="{{ user.avatar }}" alt="{{ user.username }}">
    <p>This is your profile page my friend! And your email is: {{ user.email }}</p>
    <a href="/post-form" class="btn btn-primaary"> Create a post</a>

{{else}}
    <p>Still no logged in user, sorry!</p>
{{/if}}