<div class="card">
  <img class="card-img-top" src="{{picPath}}" alt="{{picName}}">
  <div class="card-body">
    <h4 class="card-title">{{picName}}</h4>
    <p class="card-text">{{content}}</p>
    <br>
    <div class="btn-group" role="group" aria-label="Basic example">
      <a href="/" type="button" class="btn btn-success">Return</a>
    </div>
    <br>
    <br>
    <h5>Make a Comment</h5>
    <div class="card">
      <div class="card-body">
        <form action="/comment/{{id}}" method="post">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Content</span>
            </div>
            <textarea class="form-control" name="content"></textarea>
          </div>
          <br>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Pic Name</span>
            </div>
            <input type="text" class="form-control" placeholder="Picture Name">
          </div>
          <div class="form-group">
            <input type="file" name="picpath" accept="image/*" class="form-control">
          </div>
          <a href="/comment/new" type="button" class="btn btn-info btn-block">Comment</a>
        </form>
      </div>
    </div>
    {{!-- vistas de los comentarios --}}
  </div>
</div>