<br>
<h2>Details</h2>
<br>
  <img src="{{picPath}}" alt="{{picName}}">
  <p><b>Picture name:</b> {{picName}}</p>
  <p><b>Message: </b>{{content}}</p>
  <p><b>Creator:</b> {{creatorId}}</p>
  <p> <b>Created at:</b> {{createdAt}}</p>
  <p> <b>Last updated:</b>{{updatedAt}}</p>

 
<br>
<br>


<a href="/posts">Go back to all posts</a>