<main>
  <h2>Post de {{creatorId.username}}</h2>
  <div class="detail">
    <div>
      <p>{{content}}</p>
    </div>
    <div>
      <img src="{{picPath}}" alt="{{picName}}">
      <p>{{picName}}</p>
    </div>
  </div>
  <h2>Todos los comentarios</h2>
  {{#each comments}}
    <div class="detail">
      <div>
        <p>{{content}}</p>
      </div>
      <div>
        <img src="{{imagePath}}" alt="{{imageName}}">
        <p>{{imageName}}</p>
      </div>
    </div>
  {{/each}}

 <h2>Crea un nuevo comentario</h2>
<form action="/posts/{{_id}}" method="POST" enctype="multipart/form-data">
  <div class="form-group">
    <label for="content">Comentario</label>
    <textarea class="form-control" id="content" name="content" rows="3"></textarea>
  </div>
  <label for ="image-input">Image</label>
  <input type="file" name="image" id="image-input" class="form-control-file">
  <button type="submit">Envía</button>
</form>

</main>