<div class="card">
<h1>{{picName}}</h1>
  <img src="{{picPath}}" alt="{{picName}}">
  <br><br>
  <p>{{content}}</p>
  <small>{{creatorId.username}}</small>

  {{!-- /////////////// COMMENTS //////////////// --}}

  <div>
    <p>Room for further commets</p>
  </div>
</div>