<div class="center">
  <h1>{{post.picName}}</h1>

  <img class="postPic" src="{{post.picPath}}">

  <blockquote>"{{post.content}}"</blockquote>

  <p>Uploaded by: {{post.creatorId}} (populate)</p>
  <p>on {{post.createdAt}} (trim)</p>
</div>
