<div class="container gallery">
    <h1>Galería de imágenes</h1>


    <div class="row">
        {{#each allPictures}}

        <div class="col-md-3">
            <figure>
                <img src="{{path}}" alt="{{name}}">
                <figcaption>
                    <h6>{{originalName}}</h6>
                    <p>{{name}} | <a href="{{path}}" download="{{originalName}}">Descargar</a></p>
                </figcaption>
            </figure>
        </div>

        {{/each}}
    </div>
</div>