<h2>Post details</h2>
<div class="row">
    <div class="col-4">
        <img src="{{post.picPath}}" alt="{{post.picName}}">
        <p>Description: {{post.content}}</p>
        <hr>
        <p>Post by: {{user.username}}</p>
        <br>
        <section>
            <div class="row">
                {{#each comment}}
                <div class="col-7">
                    <p>{{user.username}}: {{content}}</p>
                    <hr>
                </div>
                {{/each}}
            </div>
        </section>
        <section>
            <h2>Comment</h2>
            <form action="/posts/details/{{post.id}}" method="post" enctype="multipart/form-data">
                <input type="text" name="content" placeholder="Escribe tu comentario"><br>
                <input type="file" name="phototoupload" multiple><br>
                <input type="submit" value="Save"><br>
            </form>
        </section>
    </div>
</div>