<div>
  <div id="container">
    <div>
      <a href="/logout">Log out</a>
    </div>
    <img src="<%=user.picture.pic_path%>" alt="">
    <h2>Hi @<%= user.username %>!</h2>

    <form action="/profile" method="POST" enctype="multipart/form-data">
      <label for="postText">Post</label>
      <input type="text" name="postText" maxlength="140" placeholder="What's going on?">
      <div>
        <label for="photo">Select a photo: </label>
        <input type="file" name="photo">
      </div>
      <button>Post!</button>
    </form>

    <% if (typeof(errorMessage) != "undefined") { %>
      <div class="error-message">
        <%= errorMessage %>
      </div>
    <% } %>
    <div id="container">
      <h2> My posts: </h2>
      <% posts.forEach( function(e) {%>
        <div>
          <img src="<%= e.picture.pic_path %>" alt="">
          <p><%= e.content %> from <%= e.user_name %> Created at <%= moment(e.created_at).format("LL, LTS") %></p>
        </div>
      <% }) %>
    </div>
  </div>
</div>
