<div id="main-profile">
    <div class="left-div profile-boxes">
        <h1>Welcome, {{user.firstName}}! </h1>

        <img class="user-image" src="{{user.path}}" alt="{{user.imageName}}">
        <a class="btn btn-secondary mb-0 mt-2" href="/profile/photo-upload">Upload Photo</a>
        <a class="btn btn-secondary mb-0 mt-2" href="/profile/update">Update Profile</a>

    </div>
    <div class="center-div profile-boxes">

        {{#if posts}}
        <div class="row-users">
            {{#each posts}}
            <div class="user-box">
                <img class="post-image" src="{{this.picPath}}" alt="{{this.picName}}">
                <p>{{this.picName}}</p>
                <a href="/post-details?post_id={{this._id}}">Read more</a>
            </div>
            {{/each}}
        </div>
        {{/if }}
    </div>
    <div class="right-div profile-boxes">

    </div>
</div>