<%= user.picture %>
<h2><%= user.username %>'s profile</h2>

Your account credentials:
<p>Your Username: <%= user.username %></p>
<p>Your Email: <%= user.email %></p>
<p>Your Picture: <img src="<%= user.profileImg %>"
  style="border: 10%" width= "600px" ></p>
