<div id="boasvindas">
<h2>Olá,{{username}}, Bem vindo!</h2>
</div>

<section class='photoperfil' >
  {{#each photouser}}
    <h3>{{ this.name }}</h3>
    <h2>{{this.creatorID}}</h2>
    <img src="{{ this.path }}" alt="{{ this.originalName }}" />
  {{/each}}
</section>
